@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyShop.BlazorFrontend.Services
@using MyShop.ViewModels
@inject ICategoryApiClient CategoryApiClient
@inject IAccessTokenProvider TokenProvider
@attribute [Authorize]

<h1>Category</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul class="navbar-nav" style="margin: 0 auto">
        @foreach (var cat in _categories)
        {
            <li class="nav-item"><a class="nav-link" href="/categories/@cat.Id">Category name: @cat.Name</a></li>
        }
    </ul>
}

@code {
    private IList<CategoryVm> _categories;

    protected override async Task OnInitializedAsync()
    {
        var tokenRequest = await TokenProvider.RequestAccessToken();
        _categories = await CategoryApiClient.GetCategories();
    }
}
